@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
scroll-behavior: smooth;}
  
}

* {box-sizing: border-box;
}
body{display: block;
margin-top: 8px;}
/* Style the tab */

#navbar {
position: fixed;
min-width: 290px;
top: 0px;
left: 0px;
width: 250px;
height: 100%;
border-right: solid;
border-color: rgba(0, 22, 22, 0.4);
}
nav {display: block;}

#navbar ul{
height: 88%;
padding: 0;
overflow-y: auto;
overflow-x: hidden;
}

#navbar li{color: #4d4e53;
border-top: 1px solid;
list-style: none;
position: relative;
width: 100%;}

#navbar a{
display: block;
text-align: left;
color: #4d4e53;
border-top: 1px solid;
list-style: none;
position: relative;
width: 100%;
padding: 10px;
}

#navbar a:hover{
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

#navbar p {
  background-color: black;
  color: white;
  display: block;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
margin: 0px;
font-size: 1.8em;
font-weight: thin;
}

/* HEADER */

header{
  font-weight: bold;
  font-size: 25px;
}
/* Style the tab content */
#main-doc {
display: block;
position: absolute;
margin-left: 310px;
padding: 20px;
margin-bottom: 110px;
}
